@import url("./reset.scss");

html {
    font-family: "Poppins", sans-serif;
    font-size: 16px;

    --white: white;
    --gray: #495867;
    --black: black;
    --primary-background: #efefff;
    --primary-default: #d0d0e6;
    --accent: #fe5f55;

    --fs-body: 16px;
    --fs-subheader: 24px;
    --fs-header: 32px;
    --fs-formfield: 14px;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
}

body {
    min-height: 100vh;
    color: var(--black);
    background-color: var(--primary-background);
}

.bodytext {
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
}

.subheadertext {
    font-size: var(--fs-subheader);
    font-weight: var(--fw-medium);
    color: var(--black);
}
.header {
    font-size: var(--fs-header);
    font-weight: var(--fw-semibold);
    color: var(--black);
}
.formfield {
    font-size: var(--fs-formfield);
    font-weight: var(--fw-light);
    color: var(--primary-default);
}

.bg-white {
    background-color: var(--white);
}
.bg-accent {
    background-color: var(--accent);
}
.bg-bg {
    background-color: var(--primary-background);
}
.bg-default {
    background-color: var(--primary-default);
}

.col-white {
    color: var(--white);
}
.col-gray {
    color: var(--gray);
}
.col-black {
    color: var(--black);
}
.col-accent {
    color: var(--accent);
}
.col-default {
    color: var(--primary-default);
}

input:not([type="radio"]),
select,
textarea {
    background-color: var(--primary-background);
    color: var(--black);
    font-size: var(--fs-formfield);
    font-weight: var(--fw-light);
    padding: 0.5em 1em;
    border-radius: 16px;

    min-width: 200px;
    max-width: 600px;
}

select {
    border-right: 1em solid transparent;
}

input[type="date"] {
    &::-webkit-calendar-picker-indicator {
        opacity: 0.4;
    }
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

label.radio-lab {
    width: fit-content;
    display: inline-block;
    padding: 1em 2em;
    background-color: var(--primary-background);
    border: 1px solid transparent;
    border-radius: 40px;

    &:has(input[type="radio"]:checked) {
        border-color: var(--accent);
        color: var(--accent);
    }
}

@media screen and (max-width: 800px) {
    html {
        font-size: 16px;
    }
}
