.delivery {
        grid-area: delivery;
        display: flex;
        gap: 4rem;

        .delivery-desc {
            flex-shrink: 0;
            h2 {
                margin-bottom: 1rem;
            }
        }

        .delivery-list {
            display: flex;
            overflow-x: scroll;
            gap: 1rem;
        }
    }

    .container_product_top {
        height: 35rem;
        background-color: white;
        margin-left: 2rem;
        border-radius: 45px;
        margin-top: 2rem;
        width: 115rem;
    }

#type {
    margin-left: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}



#delivery2{
    margin-left: 30rem;
    margin-top: 5rem;
}