.delivery {
    grid-area: delivery;
    display: flex;
    gap: 4rem;

    .delivery-desc {
        flex-shrink: 0;
        h2 {
            margin-bottom: 1rem;
        }
    }

    .delivery-list {
        display: flex;
        overflow-x: scroll;
        gap: 1rem;
    }

    
}

.container-product-top {
    height: min-content;
    background-color: white;
    margin-left: 2rem;
    border-radius: 45px;
    margin-top: 2rem;
    width: 115rem;

    .noOrder {
        margin-left: 50%;
        width: 75rem;
        text-align: center;
        font-size: 25px;
        
    }

}

    
.single-product_container
{display:none;}



#type {
    padding-top: 20px;
    padding-left: 64px;
    padding-bottom: 30px;
}


.container-product-bottom {
    height: 1300px;
    background-color: white;
    margin-left: 2rem;
    border-radius: 45px;
    margin-top: 2rem;
    width: 115rem;

    .filter {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 64px;

        .searchFilter-bar {
            display: flex;
            align-items: center;
            margin-left: 384px;

            .searchBar {
                width: 336px;
                height: 31px;
                background-color: white; 
                border: 1px solid black; 
                border-top: none; 
                border-left: none; 
                border-right: none; 
                border-radius: 0; 
                padding: 0; 
                margin: -30px 8px 8px 0;
            }

            .filter_bar {
                margin: -30px 8px 8px 800px;
            }
            select {
                margin-bottom: 8px;
            }
        }


        h2 {
            margin-top: 16px;
            margin-bottom: 8px;
        }

        h1{
            padding-top: 16px;
            padding-left: 64px;
        }

        select {
            margin-bottom: 8px;
        }

       
    }

    .product-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
        margin-left: 322px;
        margin-top: -96px;    
    }

    
}







