.Products {
    padding: 64px 64px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    section {
        padding: 32px 64px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        border-radius: 16px;
    }

    .catalogue-section-content {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: 64px 64px;
        grid-auto-flow: row;
        grid-template-areas:
            "catalogue-filters catalogue-search"
            "catalogue-filters catalogue-grid";

        .catalogue-filters {
            grid-area: catalogue-filters;
            width: fit-content;
            display: flex;
            flex-direction: column;
            gap: 8px;

            select {
                width: 300px;
                margin-bottom: 8px;
            }
        }

        .catalogue-search {
            grid-area: catalogue-search;
            display: flex;
            justify-content: flex-end;
            gap: 32px;
            height: fit-content;

            .search-bar {
                background-color: var(--white);
                color: var(--black);
                border-bottom: 1px solid var(--gray);
                border-radius: 0;
                width: 256px;
                text-align: right;
                padding: 0;
            }

            .filter-bar {
                background-color: var(--white);
                color: var(--gray);
                min-width: 0;
                padding: 0;
            }
        }

        .catalogue-grid {
            grid-area: catalogue-grid;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 32px;
        }
    }
}
