.SingleProductPage {
    padding: 64px;
    display: flex;
    justify-content: center;

    .product-card {
        border-radius: 16px;
        padding: 64px;
        display: flex;
        gap: 32px;

        .back-link {
            display: flex;
            align-items: center;
            gap: 4px;
            color: var(--gray);
        }

        .product-card-left {
            width: 500px;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 32px;

            img {
                max-width: 500px;
                max-height: 500px;
                object-fit: contain;
            }
        }

        .product-card-right {
            max-width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 128px;

            .product-card-right-title {
                p {
                    margin-top: 32px;
                }
            }

            .counter-and-check {
                display: flex;
                align-items: center;

                button {
                    color: var(--white);
                }

                .green-check {
                    color: green;
                    line-height: 0;
                }
            }
        }
    }
}
