.fiche {
    background-color: white;
    height: 44rem;
    width: 112rem;
    margin: -1rem;
    margin-left: -0.5rem;
    border-radius: 1.5rem;
}

.product_infos {
    display: flex;
    flex-direction: column;
}

.product_infos {
    margin-left: 55rem;
}

.product_img {
    float: left;
    width: 40rem;
    margin-left: 2rem;
}
