.count-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 109px;
    height: 50px;
}

.count {
    position: relative;
    font-weight: bold;
    text-align: center;
    color: whi;
}

.count-wrapper button {
    border-radius: 45px;
    outline: none;
    box-shadow: 0 4px 12px -2px rgba(100, 110, 150, 0.2);
    font-size: inherit;
    background: #fe5f55;
    color: white;
    cursor: pointer;
    transition: 0.2s all;
    width: 34px; // Ajuste la largeur du bouton à 34px
    height: 34px; // Ajuste la hauteur du bouton à 34px

    box-shadow: 0 3px 8px -1px rgba(100, 110, 150, 0.2);
    color: white;

    &:active {
        box-shadow: none;
        transform: scale(0.9);
    }
}


