nav {
    display: flex;
    justify-content: flex-end;
    padding-inline: 64px;

    ul {
        display: flex;
        gap: 64px;

        li {
            padding-block: 32px;

            a {
                display: flex;
                align-items: center;
                span {
                    margin-right: 8px;
                    width: 20px;
                }
            }
        }
    }
}
