.ProductPreview {
    width: 382px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding: 16px;
    border-radius: 16px;

    .img-container {
        background-color: var(--white);
        height: 128px;
        aspect-ratio: 1;
        border-radius: 16px;
    }

    .text-container {
        padding-right: 8px;
    }
}
